@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');


/* start global ruls */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
}

.daboor {
    color: #3e8263;
    font-weight: bold;
    position: relative;
    cursor: help;
    user-select: none;
}

sup {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #eeeeee;
    color: #333;
    font-size: 0.6rem;
    pointer-events: none;
}

.daboor.active::before,
.daboor.active::after {
    display: inline-block;
}

.daboor::before {
    content: attr(data-title);
    position: absolute;
    bottom: 40px;
    right: 50%;
    translate: 50%;
    width: 210px;
    height: 45px;
    padding: 10px;
    background-color: white;
    color: #333;
    border-radius: 5px;
    box-shadow: 1px 4px 10px 0 #858585;
    font-size: 0.6rem;
    line-height: 1.4;
    display: none;
    animation: showTooltips 0.3s 1 forwards;
    z-index: 100;
}

.daboor::after {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-color: white transparent transparent transparent;
    bottom: 28px;
    right: 50%;
    translate: 50%;
    display: none;
    animation: showTooltips 0.3s 1 forwards;
    z-index: 100;
}

@keyframes showTooltips {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0px);
    }
}
/* end global ruls */